@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush'
);

body, html {
  height: 100%;
  background-color: rgb(156, 146, 138);
}

* {
  box-sizing: border-box;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.headline {
  color: white;
  background-color: rgb(132, 175, 247); 
  font-family: 'Caveat Brush' ;
  font-size: 22px;
}
.sidebar, footer {
  color: #fff;
  font-family: 'PT Sans', monospace;
  text-align: right;
}
#about {
  color: #fff;
  font-family: 'PT Sans', monospace;
  text-align: right;
}

.right {
  float: right;
}

.bg-image {
  background-image: url("images/dadsEnergy.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.band {
  font-family: 'PT Sans', monospace;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  min-width: 600px;
  min-height: 200px;
  background-color: gray;
}

.blox {
  width: 120px;
  height: 120px;
  background-color: silver;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 44px;
  color: white;
}


.centered-text {
  text-align : center;
}



.ad {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  background-color: rgba(83, 89, 89, 0.5);
}



